@media screen and (max-width: 767px) {
    .wrapper {
        width: 250px;
    }
    .right{
        width: 100px;
    }
}

@media screen and (max-width: 479px) {
    .wrapper {
        width: 150px;
    }
    .main {
        float: none;
        height: 400px;
    }
    .left {
        height: 50%;
    }
    .right {
        width: 150px;
        height: 50%;
    }
    
}